﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <p>singleton1 : @Model.singleton1</p>
    <p>singleton2 : @Model.singleton2</p>
    <p>scoped1 : @Model.scoped1</p>
    <p>scoped2 : @Model.scoped2</p>
    <p>transient1 : @Model.transient1</p>
    <p>transient2 : @Model.transient2</p>
    <p>singletoninstance1 : @Model.singletoninstance1</p>
    <p>singletoninstance2: @Model.singletoninstance2</p>
    <p>RootProvider : @Model.RootProvider</p>
    <p>RequestProvider : @Model.RequestProvider</p>
    <p>singleton1Guid : @Model.singleton1Guid</p>
    <p>singleton2Guid : @Model.singleton2Guid</p>
    <p>scoped1Guid : @Model.scoped1Guid</p>
    <p>scoped2Guid : @Model.scoped2Guid</p>
    <p>transient1Guid : @Model.transient1Guid</p>
    <p>transient2Guid : @Model.transient2Guid</p>
    <p>singletoninstance1Guid : @Model.singletoninstance1Guid</p>
    <p>singletoninstance2Guid : @Model.singletoninstance2Guid</p>
</div>
